<div class="container-fluid contenedor-login">

    <form class="form-signin" (submit)="insertar()">

        <h1 class="h3 mb-3 font-weight-normal">Registrese</h1>
        <label for="inputNombre" class="sr-only">Nombre</label>
        <input [(ngModel)]="nombre" name="nombre" type="text" id="inputNombre" class="form-control"
            placeholder="Nombre">
        <p style="color:red;">{{mensaje_nombre}}</p>
        <div class="checkbox mb-3">
            <label for="inputEmail" class="sr-only">Correo Electronico</label>
            <input [(ngModel)]="email" name="email" type="email" id="inputEmail" class="form-control"
                placeholder="Email address">
            <p style="color:red;">{{mensaje_email}}</p>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control"
                placeholder="Contraseña">
            <p style="color:red;">{{mensaje_password}}</p>
            <div class="checkbox mb-3">
                <label for="inputRepetidaPassword" class="sr-only">Repita la Contraseña</label>
                <input [(ngModel)]="inputRepetidaPassword" type="password" name="inputRepetidaPassword"
                    id="inputRepetidaPassword" class="form-control" placeholder="Repita Contraseña">
                <p style="color:red;">{{mensaje_password_repetida}}</p>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block " type="submit">Registrarse</button>

    </form>

</div>