<div class="form-control" id="formularioNotas">
    <h3>Registrate</h3>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre :</span>
        <input type="text" class="nota form-control" id="nomb">
    </div>
    <h5 id="errorNombre"></h5>


    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Apellido Paterno:</span>
        <input type="text" class="nota form-control" id="apeP">
    </div>
    <h5 id="errorApeP"></h5>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Apellido Materno:</span>
        <input type="text" class="nota form-control" id="apeM">
    </div>
    <h5 id="errorApeM"></h5>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Correo:</span>
        <input type="correo" class="nota form-control" id="correo">
    </div>

    <h5 id="errorCorreo"></h5>
    <br>
    <a href="login.html" class="btn btn-primary" id="registrarUsuario">Registrar</a>
</div>