<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <p class="card-text">Taco 1</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <p class="card-text">Taco 2</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <p class="card-text">Taco 3</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>

</div>