<!-- Footer -->
<br>
<footer class="text-center text-lg-start bg-primary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Comunicate en Nuestras Redes Sociales:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Tienda eCommerce
                    </h6>
                    <p>
                        "A really authentic Mexican taco truck. You will not be able to tell the difference between this taco truck and an actual Mexican taco truck. The owner is also the cook. He is the nicest guy around, and you will love him."
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Redes Sociales
                    </h6>
                    <li>
                        <a href="https://facebook.com" class="text-white">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com" class="text-white">Twitter</a>
                    </li>
                    <li>
                        <a href="https://instagram.com" class="text-white">Instagram</a>
                    </li>
                    <li>
                        <a href="https://tiktok.com" class="text-white">Tik tok</a>
                    </li>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>
                        Mexican Taco's
                        Shop No. 1, Ground Floor,
                        Okhla Industrial Estate,
                        Phase 1, Okhla,
                        New Delhi - 110020
                        </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@mexicantacos
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +91-11-64371177</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(255, 255, 255, 0.096);">
        © 2020 Copyright: Los Bistecas
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->