<div class="container-fluid contenedor-login">

    <form (submit)="iniciarSesion()" class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="email" class="sr-only">Correo Electronico</label>
        <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Correo electronico" autofocus="" email #prmEmail="ngModel">
        <!--<p *ngIf="prmEmail.errors?.email">Primary Email not valid.</p>-->
        <p style="color:red;">{{mensaje_email}}</p>
        <label for="password" class="sr-only">Contraseña</label>
        <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña">
        <p style="color:red;">{{mensaje_password}}</p>
        <!--<button class="btn btn-lg btn-primary btn-block " routerLinkActive="active" routerLink="/inicio" type="submit">Iniciar</button>-->
        <button class="btn btn-lg btn-primary btn-block " type="submit">Iniciar</button>
    </form>

</div>